@model AGENDAHUB.Models.Agendamentos
<link rel="stylesheet" href="~/css/Agendamentos.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Criar Agendamento";
}

<h1 class="text-center">Novo Agendamento</h1>

<hr />

<div class="row d-flex justify-content-center">
    <div class="col-md-4 text-center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_Servico" class="control-label"></label>
                <select asp-for="ID_Servico" asp-items="@ViewBag.Servicos" class="form-control">
                    <option value="">Selecione um Serviço</option>
                </select>
                <span asp-validation-for="ID_Servico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ID_Profissional" class="control-label"></label>
                <select id="ID_Profissional" asp-for="ID_Profissional" class="form-control">
                    <option value="">Selecione um Profissional</option>
                </select>
                <span asp-validation-for="ID_Profissional" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ID_Cliente" class="control-label"></label>
                <select asp-for="ID_Cliente" asp-items="@ViewBag.Clientes" class="form-control">
                    <option value="">Selecione um cliente</option>
                </select>
                <span asp-validation-for="ID_Cliente" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <select asp-for="Data" class="form-control">
                    <option value="">Selecione uma Data</option>
                    @foreach (var dia in ViewBag.DiasDisponiveis as List<string>)
                    {
                        var dataFormatada = DateTime.Parse(dia);
                        if (dataFormatada >= DateTime.Today)
                        {
                            <option value="@dia">@dataFormatada.ToString("dd/MMM/yyyy") / @dataFormatada.ToString("dddd")</option>
                        }
                    }
                </select>
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <select id="Hora" asp-for="Hora" class="form-control">
                    <option value="">Selecione um Horário</option>
                </select>
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<Agendamentos.StatusAgendamento>()" class="form-control">
                    <option value="">Selecione o status</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group pt-4">
                <a asp-action="Index" class="btn btn-outline-warning">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>

    $(document).ready(function () {
        $("#ID_Servico").change(function () {
            atualizarProfissionais();
        });

        $("#ID_Profissional").change(function () {
            atualizarHorarios();
        });

        function atualizarProfissionais() {
            var selected_ID_Servico = $("#ID_Servico").val();

            $.ajax({
                url: "/Agendamentos/GetProfissionaisByServico",
                type: "GET",
                data: {
                    servicoId: selected_ID_Servico
                },
                success: function (profissionais) {

                    var dropdownProfissionais = $("#ID_Profissional");
                    dropdownProfissionais.empty();

                    $.each(profissionais.$values, function (index, profissional) {
                        console.log(profissional.nome);

                        dropdownProfissionais.append('<option value="' + profissional.iD_Profissional + '">' + profissional.nome + '</option>');
                    });
                    atualizarHorarios();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function atualizarHorarios() {
            var selected_ID_Servico = $("#ID_Servico").val();
            var selected_ID_Profissional = $("#ID_Profissional").val();

            $.ajax({
                url: "/Agendamentos/GetHorariosPorServicoEProfissional",
                type: "GET",
                data: {
                    selected_ID_Servico: selected_ID_Servico,
                    selected_ID_Profissional: selected_ID_Profissional
                },
                success: function (horarios) {

                    $("#Hora").empty();
                    $("#Hora").append('<option value="">Selecione um Horário</option>');

                    $.each(horarios.$values, function (index, hora) {
                        $("#Hora").append('<option value="' + hora + '">' + hora + '</option>');
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });

</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
