@model AGENDAHUB.Models.Clientes
<link rel="stylesheet" href="~/css/Clientes.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Excluir Cliente";
}

<link rel="stylesheet" href="~/css/Clientes.css" asp-append-version="true" />

<h3 class="text-center">Tem certeza de que deseja excluir o Cliente?</h3>

<div class="container d-flex justify-content-center col-xl-8 col-12 mt-3">
    <div class="p-3" id="cardView">
        <table class="table mt-3 mx-auto">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.CPF)</th>
                    <th>@Html.DisplayNameFor(model => model.Contato)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Observacao)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Nome)</td>
                    <td>@Html.DisplayFor(model => model.CPF)</td>
                    <td>@Html.DisplayFor(model => model.Contato)
                        <a href="https://wa.me/@Model.Contato" target="_blank">
                            <img src="~/images/whatsapp.png" alt="Whatsapp-icon" style="height: 1.2rem; width: auto" />
                        </a>
                    </td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                    <td>@Html.DisplayFor(model => model.Observacao)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="col d-flex justify-content-center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID_Cliente" />
            <a asp-action="Index" class="btn btn-outline-warning">Voltar</a>
            <input type="submit" value="Excluir" class="btn btn-outline-danger" />
        </form>
    </div>
</div>

