@model AGENDAHUB.Models.Servicos

@{
    ViewData["Title"] = "Excluir Serviço";
}
<link rel="stylesheet" href="~/css/Serviços.css" asp-append-version="true" />

<h3 class="text-center">Tem certeza que deseja excluir este serviço?</h3><br />
<p class="text-center">A exclusão irá impactar em todo o sistema onde o @Model.Nome está relacionado, sugerimos editá-lo.</p>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <!-- Centraliza os cards -->
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card mb-4" style="border-radius: 1rem;">
                <div style="text-align: center; margin-bottom: -5%; margin-top: 3%">
                    <h5 style="text-align: center; font-weight: 700 " class="card-title ">@Model.Nome</h5>
                </div>
                <div class="card-image">
                    <img style="width: 12rem; height: 13rem; border-radius: 0.7rem;" class="mx-auto d-block mt-4" src="@Url.Action("getImg", "Servicos", new { id = Model.ID_Servico })" alt="servico" />
                </div>
                <div class="card-body">
                    <p style="" class="card-text">
                        Preço: R$ @Model.Preco<br />
                        Tempo de Execução: @Model.TempoDeExecucao.ToString("h\\h\\ mm\\m")<br />
                        Profissionais: @if (Model.ServicosProfissionais != null && Model.ServicosProfissionais.Any())
                        {
                            var nomesProfissionais = Model.ServicosProfissionais
                            .Select(sp => sp.Profissional.Nome)
                            .ToList();

                            @string.Join(", ", nomesProfissionais)
                        }
                        else
                        {
                        <p>Nenhum profissional associado.</p>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="btn-group items-align-center" role="group">
                <a asp-action="Index" class="btn btn-outline-warning">Voltar</a>
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="ID_Servico" />
                    <button type="submit" class="btn btn-outline-danger ms-1">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>

