@model IEnumerable<AGENDAHUB.Models.Servicos>


@{
    ViewData["Title"] = "Serviços Cadastrados";
}

<link rel="stylesheet" href="~/css/Serviços.css" asp-append-version="true" />

<h1 class="text-center">Serviços Cadastrados</h1>

@* Botão Novo Servico *@
<div class="col-xl-6 col-6 ">
    <div class="row d-flex justify-content-start">
        <div class="col-xl-6 col-6 ">
            <a asp-action="Create" class="btn btn-outline-info rounded-pill">+ Novo Serviço</a>
        </div>
    </div>
</div>


@* Campo de pesquisa *@
<div style="margin-left: 33rem; margin-top: -40px;" class="col-xl-6 col-6 d-flex justify-content-end">
    <form asp-action="Index" method="get" style="border-radius: 20rem;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="SearchServicos" placeholder="Pesquisar Serviço" style="border-radius: 20rem 0 0 20rem;">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" style="border-radius: 0 20rem 20rem 0;">Buscar</button>
            </div>
        </div>
    </form>
</div>






<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-4 mb-4">
                
                    <div class="card">
                        <div class="card-image">
                            <img src="@Url.Action("getImg", "Servicos", new { id = item.ID_Servico })">
                        </div>
                        <p class="card-title">@item.Nome</p>
                        <p class="card-body">Preço: R$@item.Preco</p>

                        <p class="footer">
                            Tempo de Execução: <span class="by-name">@item.TempoDeExecucao</span></p>
                            <div class="d-flex justify-content-end position-absolute bottom-0 end-0">
                                <a href="@Url.Action("Edit", new { id = item.ID_Servico })">
                                    <img style="width: 30%; margin-left: 95%;" src="images/editar.png">
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.ID_Servico })">
                                    <img style="width: 40%; margin-left: 50%" src="images/excluir.png">
                                </a>
                            </div>
                    </div>
                </div>
        
        }
    </div>
</div>
