@model IEnumerable<AGENDAHUB.Models.Servicos>


@{
    ViewData["Title"] = "Serviços Cadastrados";
}

<link rel="stylesheet" href="~/css/Serviços.css" asp-append-version="true" />

<h1 class="text-center pb-3">Serviços Cadastrados</h1>

<div class="row">
    @if (User.IsInRole("Admin") || User.IsInRole("User") || User.IsInRole("Profissional"))
    {
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <a asp-action="Create" class="btn btn-outline-info rounded-pill">+ Novo Serviço</a>
        </div>
    }
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-end">
        <form asp-action="SearchServicos" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="Pesquisar Serviço" id="pesquisar">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit" id="botaoPesquisar">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@if (TempData.ContainsKey("Message"))
{
    <div class="alert alert-info text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 mx-auto">
                    @TempData["Message"]
                </div>
            </div>
        </div>
    </div>
}

@if (TempData.ContainsKey("MessageVazio"))
{
    <div class="alert alert-info text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 mx-auto">
                    @TempData["MessageVazio"]
                </div>
            </div>
        </div>
    </div>
}


<div class="container">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <!-- Divide a largura da tela em 3 colunas para exibir 3 cards por linha em telas médias e grandes -->
                <div class="containerCard">
                <div class="cardCSS">
                    <div class="card-images">
                        <img src="@Url.Action("getImg", "Servicos", new { id = item.ID_Servico })" />
                    </div>

                   
                    <h5 class="card-titulo">@item.Nome</h5>

                    <h5 class="card-preco">
                        Preço: R$@item.Preco
                    </h5>
                        <h5 class="card-title dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @item.ServicosProfissionais.FirstOrDefault()?.Profissional?.Nome
                        </h5>

                    <h5 class="footer">Tempo de Execução: <span class="by-name">@item.TempoDeExecucao.ToString("h\\h\\ mm\\m")</span></h5>
                        @if (User.IsInRole("Admin") || User.IsInRole("User") || User.IsInRole("Profissional"))
                        {
                            <div class="d-flex justify-content-end">
                                <a href="@Url.Action("Edit", new { id = item.ID_Servico })">
                                    <img class="btn btn-outline-warning" style="height: 2rem; width: auto" src="images/editar.png">
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.ID_Servico })">
                                    <img class="btn btn-outline-danger" style="height: 2rem; width: auto" src="images/excluir.png">
                                </a>
                            </div>
                        }
                </div>

                </div>
            </div>
        }
    </div>
</div>



