@model IEnumerable<AGENDAHUB.Models.Servicos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col row row-cols-1 row-cols-md-2">
                <div class="card h-50" style="width: 18rem;">
                    <img style="width:12rem" class="rounded mx-auto d-block" src="@Url.Action("getImg", "Servicos", new { id = item.ID_Servico })" class="card-img-top rounded" alt="servico" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Nome</h5>
                        <p class="card-text">
                            Preço: @item.Preco<br />
                            Tempo de Execução: @item.TempoDeExecucao
                        </p>
                        <a href="@Url.Action("Details", new { id = item.ID_Servico })" class="btn btn-primary">Details</a>
                        <a href="@Url.Action("Edit", new { id = item.ID_Servico })" class="btn btn-secondary">Edit</a>
                        <a href="@Url.Action("Delete", new { id = item.ID_Servico })" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

