@model IEnumerable<AGENDAHUB.Models.Servicos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-4 mb-4">
                <div class="card mb-4 rounded-3 shadow-sm" style="height: 80%; width: 80%">
                    <img style="width: 8rem; height: 12rem; margin-top: 7%;" class="rounded mx-auto d-block" src="@Url.Action("getImg", "Servicos", new { id = item.ID_Servico })" class="card-img-top rounded" alt="servico" />
                    <div class="card-body">
                        <h5 style="text-align:center; font-size: 16px" class="card-title text-uppercase">@item.Nome</h5>
                        <p style="font-size: 10px" class="card-text">
                            Preço: @item.Preco<br />
                            Tempo de Execução: @item.TempoDeExecucao
                        </p> 
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a class="btn btn-primary btn-sm " href="@Url.Action("Edit", new { id = item.ID_Servico })" >Edit</a>
                            <a class="btn btn-secondary btn-sm" href="@Url.Action("Delete", new { id = item.ID_Servico })">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
