@model AGENDAHUB.Controllers.ConfiguracaoController.UsuarioConfiguracaoViewModel

@{
    ViewData["Title"] = "Configurações";
}

<h1 class="text-center">Configurações</h1>

<a asp-controller="Profissionais" asp-action="Index" class="btn btn-outline-info">Cadastrar Usuario</a>


<div class="row d-flex justify-content-center">
    <div class="col-md-7">

        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home-tab-pane" role="tab" aria-controls="home-tab-pane" aria-selected="true">Informações Cadastrais</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Informações Empresariais</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact-tab-pane" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Informações Bancarias</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="disabled-tab" data-bs-toggle="tab" href="#disabled-tab-pane" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Informações de Atendimento</a>
            </li>

        </ul>

        <div class="tab-content" id="myTabContent">

            <!-- Conteúdo da aba Informações Cadastrais -->
            <div class="tab-pane fade" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                @if (Model != null && Model.Usuario != null)
                {
                    @await Html.PartialAsync("_UsuariosPartial", new List<Usuario> { Model.Usuario })
                }
                else
                {
                    <div class="text-center">
                        <p>Nenhuma informação disponível.</p>
                    </div>
                }
            </div>

                        <div class="form-group pt-2">
                            <label asp-for="@configuracao._Email" class="pt-2"></label>
                            <div class="pt-2">
                                <input asp-for="@configuracao._Email" class="form-control" />
                                <span asp-validation-for="@configuracao._Email" class="text-danger"></span>
                            </div>
                        </div>

            <!-- Conteúdo da aba Informações Empresariais -->
            <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                    @if (Model != null && Model.Configuracoes != null && Model.Configuracoes.Any())
                    {
                        foreach (var configuracao in Model.Configuracoes)
                        {
                            if (configuracao != null)
                            {
                                <div class="col-xl-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">@configuracao.NomeEmpresa</h5>
                                            <p class="card-text">
                                                <strong>CNPJ:</strong> @configuracao.FormatarCNPJ()<br />
                                                <strong>Endereço:</strong> @configuracao.Endereco <br />
                                                <strong>Email:</strong> @configuracao.Email
                                            </p>
                                            <div class="btn-group d-flex justify-content-end" role="group">
                                                <a asp-action="Edit" asp-route-id="@configuracao.ID_Configuracao">
                                                    <img class="btn btn-outline-warning" src="~/images/editar.png" alt="Editar" style="height: 2rem; width: auto" />
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@configuracao.ID_Configuracao">
                                                    <img class="btn btn-outline-danger" src="~/images/excluir.png" alt="Excluir" style="height: 2rem; width: auto" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="col-md-12 text-center">
                            <p>Nenhuma informação disponível.</p>
                            <a asp-action="Create" class="btn btn-outline-info">Cadastrar Informações Empresariais</a>
                        </div>
                    }
                </div>
            </div>

            <!-- Conteúdo da aba Informações Bancárias -->
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab">
                @if (Model != null && Model.Configuracoes != null && Model.Configuracoes.Any())
                {
                    <div class="text-center">
                        <p>Nenhuma informação disponível.</p>
                        <a asp-action="Create" class="btn btn-outline-info">Cadastrar Informações Bancárias</a>
                    </div>
                }
            </div>

            <!-- Conteúdo da aba Informações de Atendimento -->
            <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab">
                @if (Model != null && Model.Configuracoes != null && Model.Configuracoes.Any())
                {
                    <div class="text-center">
                        <p>Nenhuma informação disponível.</p>
                        <a asp-action="Create" class="btn btn-outline-info">Cadastrar Informações de Atendimento</a>
                    </div>
                }
            </div>
        </div>
    </div>
            *@
</div>
