@model AGENDAHUB.Models.ConfiguracaoUsuarioViewModel

@{
    ViewData["Title"] = "Configurações";
}

<h1 class="text-center">Configurações</h1>

<a asp-controller="Profissionais" asp-action="Index" class="btn btn-outline-info">Cadastrar Usuario</a>


<div class="row d-flex justify-content-center">
    <div class="col-md-7">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home-tab-pane" role="tab" aria-controls="home-tab-pane" aria-selected="true">Informações Empresariais</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Informações Cadastrais</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact-tab-pane" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Informações Bancarias</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="disabled-tab" data-bs-toggle="tab" href="#disabled-tab-pane" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Informações de Atendimento</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            @foreach (var usuario in Model.Usuario)
            {
                   <!-- Conteúdo da aba Informações Cadastrais -->
                <div class="tab-pane fade" id="home-tab-pane" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <form asp-action="EditDadosEmpresariais" asp-controller="Configuracao" method="post">

                            <div class="form-group pt-2">
                                <label asp-for="@usuario.NomeUsuario" class="pt-2"></label>
                                <div class="pt-2">
                                    <input asp-for="@usuario.NomeUsuario" class="form-control" />
                                    <span asp-validation-for="@usuario.NomeUsuario" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group pt-2">
                                <label asp-for="@usuario.Email" class="pt-2"></label>
                                <div class="pt-2">
                                    <input asp-for="@usuario.Email" class="form-control" />
                                    <span asp-validation-for="@usuario.Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="justify-content-center">
                                <div class="form-group pt-4">
                                    <a asp-action="Index" class="btn btn-outline-warning">Voltar</a>
                                    <button type="submit" class="btn btn-outline-info">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    @*
                @if (Model == null || !Model.Any())
                {
                <div class="text-center">
                <p>Nenhuma informação disponível.</p>
                <a asp-action="Create" class="btn btn-outline-info">Cadastrar Dados Cadastrais</a>
                </div>
                }
                *@
                </div>
}
                @foreach (var configuracao in Model.Configuracao)
                {
                    
               
            <!-- Conteúdo da aba Informações Empresariais -->
                <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                        <form asp-action="Edit" asp-controller="Configuracao" method="post">

                            <div class="form-group pt-2">
                                <label asp-for="@configuracao.NomeEmpresa" class="pt-2"></label>
                                <div class="pt-2">
                                    <input asp-for="@configuracao.NomeEmpresa" class="form-control" />
                                    <span asp-validation-for="@configuracao.NomeEmpresa" class="text-danger"></span>
                                </div>
                            </div>

                        <div class="form-group pt-2">
                            <label asp-for="@configuracao.Cnpj" class="pt-2"></label>
                            <div class="pt-2">
                                <input asp-for="@configuracao.Cnpj" class="form-control" />
                                <span asp-validation-for="@configuracao.Cnpj" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group pt-2">
                            <label asp-for="@configuracao.Endereco" class="pt-2"></label>
                            <div class="pt-2">
                                <input asp-for="@configuracao.Endereco" class="form-control" />
                                <span asp-validation-for="@configuracao.Endereco" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group pt-2">
                            <label asp-for="@configuracao._Email" class="pt-2"></label>
                            <div class="pt-2">
                                <input asp-for="@configuracao._Email" class="form-control" />
                                <span asp-validation-for="@configuracao._Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="justify-content-center">
                            <div class="form-group pt-4">
                                <a asp-action="Index" class="btn btn-outline-warning">Voltar</a>
                                <button type="submit" class="btn btn-outline-info">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

             
}
            
@*
            <!-- Conteúdo da aba Informações Cadastrais -->
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab">
                @if (Model == null || !Model.Any())
                {
                    <div class="text-center">
                        <p>Nenhuma informação disponível.</p>
                        <a asp-action="Create" class="btn btn-outline-info">Cadastrar Dados Cadastrais</a>
                    </div>
                }
            </div>

            <!-- Conteúdo da aba Informações Bancárias -->
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab">
                @if (Model == null || !Model.Any())
                {
                    <div class="text-center">
                        <p>Nenhuma informação disponível.</p>
                        <a asp-action="Create" class="btn btn-outline-info">Cadastrar Dados Bancários</a>
                    </div>
                }
            </div>

            <!-- Conteúdo da aba Informações de Atendimento -->
            <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab">
                @if (Model == null || !Model.Any())
                {
                    <div class="text-center">
                        <p>Nenhuma informação disponível.</p>
                        <a asp-action="Create" class="btn btn-outline-info">Cadastrar Dados de Atendimento</a>
                    </div>
                }
            </div>
        </div>
    </div>
            *@
</div>
