@model AGENDAHUB.Models.Profissionais

<link rel="stylesheet" href="~/css/Configuracao.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Excluir Profissional";
}

<h1 class="text-center">Excluir Profissional</h1>

<div class="container">
    <hr />
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 mx-auto">
            <form asp-action="Delete">
                <dl class="row text-center">
                    <dt class="col-sm-12">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-12">
                        <input asp-for="Nome" class="form-control" readonly />
                    </dd>
                    <dt class="col-sm-12">
                        @Html.DisplayNameFor(model => model.Cargo)
                    </dt>
                    <dd class="col-sm-12">
                        <input asp-for="Cargo" class="form-control" readonly />
                    </dd>
                    <dt class="col-sm-12">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </dt>
                    <dd class="col-sm-12">
                        <input asp-for="Telefone" class="form-control" readonly />
                    </dd>
                    <dt class="col-sm-12">
                        @Html.DisplayNameFor(model => model.CPF)
                    </dt>
                    <dd class="col-sm-12">
                        <input asp-for="CPF" class="form-control" readonly />
                    </dd>
                    <dt class="col-sm-12">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-12">
                        <input asp-for="Email" class="form-control" readonly />
                    </dd>
                    <dt class="col-sm-12">
                        @Html.DisplayNameFor(model => model.Login)
                    </dt>
                    <dd class="col-sm-12">
                        <input asp-for="Login" class="form-control" readonly />
                    </dd>
                    <dt class="col-sm-12">
                        @Html.DisplayNameFor(model => model.Senha)
                    </dt>
                    <dd class="col-sm-12">
                        <input class="form-control" readonly placeholder="Não exibida por segurança" />
                    </dd>
                </dl>

                <div class="form-group pt-4 text-center">
                    <a asp-action="Index" class="btn btn-outline-warning">Voltar</a>
                    <input type="submit" value="Excluir" class="btn btn-outline-danger" />
                </div>
            </form>
        </div>
    </div>
</div>
