@model AGENDAHUB.Models.Caixa
<link rel="stylesheet" href="~/css/Caixa.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Detalhes da Movimentação de Caixa";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="container d-flex justify-content-center col-xl-8 col-12 mt-3">
    <div class="p-3" id="cardView">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Categoria)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Valor)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Data)
            </dt>
            <dd class="col-sm-10">
                @string.Format("{0:dd MMM yyyy}", Model.Data)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
        </dl>
        <div class="form-group pt-4 d-flex justify-content-center">
            <a asp-action="Index" class="btn btn-outline-warning">Voltar</a>
            <input type="submit" value="Salvar" class="btn btn-outline-info" />
        </div>
    </div>
</div>
